<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>cn.harryzhang.xtools</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>09EEC9E9-0C23-494A-B99C-DFCCCBED533E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D727F89-9242-4723-B15D-031A3B160262</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1569084A-1F1D-493C-9F25-B06754F57522</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E575B88-478A-4CD2-83CC-C3429AF47EBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>83EF17CC-4081-42F2-BB85-A1C5BC11C536</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D727F89-9242-4723-B15D-031A3B160262</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E575B88-478A-4CD2-83CC-C3429AF47EBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>83EF17CC-4081-42F2-BB85-A1C5BC11C536</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>299EA65D-D386-4821-ACE1-899B274609F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F8399FAC-920A-4A52-8A1C-1AE80BC7251E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>398C4BC4-9083-4552-A5C2-5F382A5DBD0B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1569084A-1F1D-493C-9F25-B06754F57522</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>426A26A3-2F58-423D-9722-AC863C0AB5B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E575B88-478A-4CD2-83CC-C3429AF47EBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>83EF17CC-4081-42F2-BB85-A1C5BC11C536</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65F53D40-F8F5-4BAF-9047-4DFBB9ED3E28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E575B88-478A-4CD2-83CC-C3429AF47EBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>83EF17CC-4081-42F2-BB85-A1C5BC11C536</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D53E8EE-ED14-418F-990E-108528A413C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>65F53D40-F8F5-4BAF-9047-4DFBB9ED3E28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7DC80235-5BEC-492B-BA17-BE47B8ADA259</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09EEC9E9-0C23-494A-B99C-DFCCCBED533E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6D53E8EE-ED14-418F-990E-108528A413C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F6B43E17-5D41-4818-9812-74C7AC3172A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F25FA8B0-CED6-4AC4-B860-A087B3C5DA3E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C9C3FA9A-638A-4B11-964B-4696CC745941</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>398C4BC4-9083-4552-A5C2-5F382A5DBD0B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>299EA65D-D386-4821-ACE1-899B274609F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EC421A18-30C6-44AE-ADCB-8ADA5548EC10</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC20535B-190F-4AA4-9EDD-8F95FD08714A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F60C147A-3DC1-4057-A7B4-48766DFAC88C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF7DEDB7-C4E5-4181-808E-4C3FDC83BF6A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E575B88-478A-4CD2-83CC-C3429AF47EBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>83EF17CC-4081-42F2-BB85-A1C5BC11C536</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9C3FA9A-638A-4B11-964B-4696CC745941</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>426A26A3-2F58-423D-9722-AC863C0AB5B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA147DDE-D002-4F36-B06E-150497E7E1FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83EF17CC-4081-42F2-BB85-A1C5BC11C536</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EC421A18-30C6-44AE-ADCB-8ADA5548EC10</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA147DDE-D002-4F36-B06E-150497E7E1FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED226C6F-A450-46BC-AB32-6FCD7BAB5ABB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E575B88-478A-4CD2-83CC-C3429AF47EBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>83EF17CC-4081-42F2-BB85-A1C5BC11C536</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F25FA8B0-CED6-4AC4-B860-A087B3C5DA3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF7DEDB7-C4E5-4181-808E-4C3FDC83BF6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F60C147A-3DC1-4057-A7B4-48766DFAC88C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7DC80235-5BEC-492B-BA17-BE47B8ADA259</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F6B43E17-5D41-4818-9812-74C7AC3172A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED226C6F-A450-46BC-AB32-6FCD7BAB5ABB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8399FAC-920A-4A52-8A1C-1AE80BC7251E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E575B88-478A-4CD2-83CC-C3429AF47EBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>harry zhang</string>
	<key>description</key>
	<string>常用加密、编解码、格式化工具包</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>XTools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>xmd5</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/python2 xtool.py "xmd5" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Calculate md5 of '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1D727F89-9242-4723-B15D-031A3B160262</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:xcmd}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>xmd5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>09EEC9E9-0C23-494A-B99C-DFCCCBED533E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>xsha1</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/python2 xtool.py "xsha1" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Calculate SHA1 of '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>65F53D40-F8F5-4BAF-9047-4DFBB9ED3E28</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:xcmd}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>xsha1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>6D53E8EE-ED14-418F-990E-108528A413C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>xsha256</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/python2 xtool.py "xsha256" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Calculate SHA256 of '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ED226C6F-A450-46BC-AB32-6FCD7BAB5ABB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:xcmd}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>xsha256</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>F6B43E17-5D41-4818-9812-74C7AC3172A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2E575B88-478A-4CD2-83CC-C3429AF47EBD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>xurlencode</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/python2 xtool.py "xurlencode" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>URL Encode of '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BF7DEDB7-C4E5-4181-808E-4C3FDC83BF6A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"MD5","arg":"xmd5","subtitle":"Calculate MD5"},{"title":"SHA1","arg":"xsha1","subtitle":"Calculate SHA1"},{"title":"SHA256","arg":"xsha256","subtitle":"Calculate SHA256"},{"title":"Base64","arg":"xbase64en","subtitle":"Base64 Encode"},{"title":"Base64","arg":"xbase64de","subtitle":"Base64 Decode"},{"title":"URL","arg":"xurlencode","subtitle":"URL Encode"},{"title":"URL","arg":"xurldecode","subtitle":"URL Decode"},{"title":"JSON","arg":"xjsonbf","subtitle":"JSON Beautify"}]</string>
				<key>keyword</key>
				<string>xtools</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Please choose a command</string>
				<key>title</key>
				<string>Open Command List</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>AC20535B-190F-4AA4-9EDD-8F95FD08714A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:xcmd}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>xurlencode</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>F25FA8B0-CED6-4AC4-B860-A087B3C5DA3E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>xcmd</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F60C147A-3DC1-4057-A7B4-48766DFAC88C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>7DC80235-5BEC-492B-BA17-BE47B8ADA259</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>xurldecode</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/python2 xtool.py "xurldecode" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>URL Decode of '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>426A26A3-2F58-423D-9722-AC863C0AB5B9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Success</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>83EF17CC-4081-42F2-BB85-A1C5BC11C536</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:xcmd}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>xurldecode</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>C9C3FA9A-638A-4B11-964B-4696CC745941</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>xjsonbf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/python2 xtool.py "xjsonbf" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>JSON Beautify of '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1569084A-1F1D-493C-9F25-B06754F57522</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:xcmd}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>xjsonbf</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>398C4BC4-9083-4552-A5C2-5F382A5DBD0B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>xbase64en</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/python2 xtool.py "xbase64encode" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Base64 Encode of '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F8399FAC-920A-4A52-8A1C-1AE80BC7251E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:xcmd}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>xbase64en</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>299EA65D-D386-4821-ACE1-899B274609F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>xbase64de</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/local/bin/python2 xtool.py "xbase64decode" "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Base64 Decode of '{query}'</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CA147DDE-D002-4F36-B06E-150497E7E1FD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:xcmd}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>xbase64de</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>EC421A18-30C6-44AE-ADCB-8ADA5548EC10</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>详情见：
https://github.com/harryzhz/alfred-xtools#readme</string>
	<key>uidata</key>
	<dict>
		<key>09EEC9E9-0C23-494A-B99C-DFCCCBED533E</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>1569084A-1F1D-493C-9F25-B06754F57522</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>710</integer>
		</dict>
		<key>1D727F89-9242-4723-B15D-031A3B160262</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>299EA65D-D386-4821-ACE1-899B274609F2</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>870</integer>
		</dict>
		<key>2E575B88-478A-4CD2-83CC-C3429AF47EBD</key>
		<dict>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>398C4BC4-9083-4552-A5C2-5F382A5DBD0B</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>426A26A3-2F58-423D-9722-AC863C0AB5B9</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>585</integer>
		</dict>
		<key>65F53D40-F8F5-4BAF-9047-4DFBB9ED3E28</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>6D53E8EE-ED14-418F-990E-108528A413C1</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>7DC80235-5BEC-492B-BA17-BE47B8ADA259</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>83EF17CC-4081-42F2-BB85-A1C5BC11C536</key>
		<dict>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>585</integer>
		</dict>
		<key>AC20535B-190F-4AA4-9EDD-8F95FD08714A</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>BF7DEDB7-C4E5-4181-808E-4C3FDC83BF6A</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>C9C3FA9A-638A-4B11-964B-4696CC745941</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>615</integer>
		</dict>
		<key>CA147DDE-D002-4F36-B06E-150497E7E1FD</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>965</integer>
		</dict>
		<key>EC421A18-30C6-44AE-ADCB-8ADA5548EC10</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>995</integer>
		</dict>
		<key>ED226C6F-A450-46BC-AB32-6FCD7BAB5ABB</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>F25FA8B0-CED6-4AC4-B860-A087B3C5DA3E</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>F60C147A-3DC1-4057-A7B4-48766DFAC88C</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>F6B43E17-5D41-4818-9812-74C7AC3172A8</key>
		<dict>
			<key>xpos</key>
			<integer>415</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>F8399FAC-920A-4A52-8A1C-1AE80BC7251E</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
